.sell{
    display: flex;
}

.sellMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sellImg{
       margin-right: 12%;
    }
}
.sellHeading{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: var(--color-blog);
    margin-top: 2rem;
    text-shadow: 1px 1px 5px;
    margin-bottom: 2REM;
}
.sellCart{
    margin-bottom: 2rem;
   
    .bold{
        font-size: 25%;
    }
    box-shadow: var(--box-shadow);
}
.totalAmount{
    color: var(--color-blog);
    font-size: 20px;
    margin-bottom: 1%;
}
