.customer{
    display: flex;

    
}
.customer_main{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3rem ;
    .customer_heading{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: var(--color-blog);
        margin-top: 2rem;
        text-shadow: 1px 1px 5px;
    }
    .customer_img{
        
    //    position: fixed;
       top: 0;
       left: 20%;
        
    }
}

.customer_table{
    box-shadow: var(--box-shadow);
}